:root {
  /* Colors */ 
  --color-white: #FFFFFF;
  --color-black: #000000;
  --color-maire: #201B10;
  --color-selago: #FCE2FF;
  --color-heliotrope: #CB81FF;
  --color-shamrock: #2AE881;
  --color-golden: #FCE300;


  /* Typography */
  --ff-main: "Roboto", "Arial", sans-serif;


  /* Transitions */
  --transition-300: 0.3s ease;
  
}