.loader {
  width: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 8px solid var(--color-white);
  border-right-color: var(--color-shamrock);
  animation: spin 1s infinite linear;
}

@keyframes spin {
  to {
    transform: rotate(1turn)
  }
}